---
const pageTitle = "Home";
const randomSaying = "As you think, so shall you become";
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>::: Latortuga0x71 :::</title>
		<script>
			/*to prevent Firefox FOUC, this must be here*/
			let FF_FOUC_FIX;
		  </script>
	</head>
	<style>
		body {
			background-color: #161b22;
			color: #c9d1d9;
		}
		a:hover, a:visited:hover{
			color:red;
		}
		a:visited {
			color: #c9d1d9;
		}
	</style>
	<body>
		<pre>
				  == {pageTitle} ==

			{randomSaying}

|=-------------------------------------------------------------------------=|
|=-------------------------------------------------------------------------=|
|=---------------------------=[ Latortuga0x71 ]=---------------------------=|
|=-------------------------------------------------------------------------=|
|=-------------------------------------------------------------------------=|


--[ Table of Contents

<a href="/">0x00 Home</a>
<a href="/about/">0x01 About</a>
<a href="/blog/">0x02 Blog</a>


--[ Foreword

VGhlIGNyYXp5IHRoaW5nIGlzLCB5b3UgY2FuIHN0dW1ibGUgdXBvbiBzb21ldGhpbmcgY29tcGxl
dGVseSBhY2NpZGVudGFsbHkuIFNvbWV0aGluZyB5b3UgbmV2ZXIgaW1hZ2luZWQgYmVmb3JlLiBQ
bGFudCB0aGUgc2VlZCBpbiB5b3VyIG1pbmQgYW5kIGdpdmUgaXQgeW91ciBhbGwgZGFpbHkuIFdo
YXQgZ3Jvd3MgaXMgc29tZXRoaW5nIGVxdWl2YWxlbnQgdG8gZ2xvcnksIGxvdmUgYW5kIGZ1bGZp
bGxtZW50IGFsbCB3cmFwcGVkIHRvZ2V0aGVyIGluIG9uZS4gVGhlIGV2b2x1dGlvbiBvZiBvbmUn
cyB0cnVlIGVzc2VuY2UuCg==


|=[ EOF ]=---------------------------------------------------------------=|
		</pre>
	</body>
</html>
